In [3]:
import torch
from torch.utils.tensorboard import SummaryWriter
writer = SummaryWriter()

In [4]:
x = torch.arange(-5, 5, 0.1).view(-1, 1)
y = -5 * x + 0.1 * torch.randn(x.size())

model = torch.nn.Linear(1, 1)
criterion = torch.nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr = 0.1)

def train_model(iter):
    for epoch in range(iter):
        y1 = model(x)
        loss = criterion(y1, y)
        writer.add_scalar("Loss/train", loss, epoch)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

train_model(10)
writer.flush()

In [5]:
writer.close()

In [6]:
import pandas as pd

In [50]:
a = {'a': [1,2,3], 'b': [2,3,4]}
b = {'a': [3,4,5], 'b': [5,6,7]}

pd.DataFrame(a, index=pd.Index(range(1, 4), name='epoch')).to_csv('sfs.csv')

In [54]:
pd.read_csv('sfs.csv', index_col='epoch').index

Int64Index([1, 2, 3], dtype='int64', name='epoch')

In [24]:
pd.concat([df1, df2], axis=1, keys=['A', 'B'])

     A         B
     a    b    a    b
1  1.0  2.0  NaN  NaN
2  2.0  3.0  3.0  5.0
3  3.0  4.0  4.0  6.0
4  NaN  NaN  5.0  7.0

In [25]:
from tqdm import tqdm

In [26]:
for i in tqdm(range(100)):
    for j in range(100000):
        j + j

100%|██████████| 100/100 [00:00<00:00, 108.26it/s]